@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizações extras, se precisar */
body {
  font-family: 'Inter', sans-serif;
}

h2 {
  color: #111827; /* text-gray-900 */
}

a {
  transition: color 0.3s;
}
